:host {
  display: block;
  margin: 1rem;

  .swal {
    div {
      margin-bottom: 0.5rem;

      button {
        margin-right: 0.5rem;
      }
    }
  }
}


ngx-table-adapter {
  display: block;
  height: 600px;
}