<h1>Examples</h1>

<p>Repository: <a href="https://github.com/ptesser/bit-collections">https://github.com/ptesser/bit-collections</a></p>

<p>Some of libraries below will require external dependencies.</p>

<section>
  <h2>Ng Ui</h2>
  <p>Bit link: <a href="https://bit.dev/ptesser/ng-ui"></a></p>
  <h3>No Inputs</h3>
  <ui-no-items></ui-no-items>
  <p>Input set</p>
  <code>
    &lt;ui-no-items [message]="'Text'" [size]="64"&gt;&lt;/ui-no-items&gt;
  </code>
  <ui-no-items
    [size]="64"
    [message]="'No items'">
  </ui-no-items>
</section>

<section class="swal">
  <h2>Ng Swal</h2>
  <p>Bit link: <a href="https://bit.dev/ptesser/ng-swal"></a></p>
  <div>
    <button
      type="button"
      color="danger"
      mat-raised-button
      (click)="showErrorHandler()">
      Show error
    </button>
    <button
      type="button"
      color="primary"
      mat-raised-button
      (click)="showSuccessHandler()">
      Show success
    </button>
    <button
      type="button"
      mat-raised-button
      color="secondary"
      (click)="showWarningHandler()">
      Show warning
    </button>
  </div>
  <div>
    <button
      type="button"
      color="danger"
      mat-raised-button
      (click)="showToastErrorHandler()">
      Show toast error
    </button>
    <button
      type="button"
      color="primary"
      mat-raised-button
      (click)="showToastSuccessHandler()">
      Show toast success
    </button>
  </div>
</section>

<section>
  <h2>Ngx Table Adapter</h2>
  <p>Bit link: <a href="https://bit.dev/ptesser/ngx-table-adapter"></a></p>
  <ngx-table-adapter [table]="fakeTable"></ngx-table-adapter>
</section>

<section>
  <h2>Ngx File</h2>
  <p>Bit link: <a href="https://bit.dev/ptesser/ngx-file"></a></p>

  <h3>Ngx File Upload Area (Component)</h3>
  <ngx-file-input-area></ngx-file-input-area>
</section>