<h1>Examples</h1>

<section>
  <h2>No items components</h2>
  <p>No inputs</p>
  <ui-no-items></ui-no-items>
  <p>Input set</p>
  <code>
    &lt;ui-no-items [message]="'Text'" [size]="64"&gt;&lt;/ui-no-items&gt;
  </code>
  <ui-no-items
    [size]="64"
    [message]="'No items'">
  </ui-no-items>
</section>

<section class="swal">
  <h2>Swal service</h2>
  <div>
    <button
      type="button"
      color="danger"
      mat-raised-button
      (click)="showErrorHandler()">
      Show error
    </button>
    <button
      type="button"
      color="primary"
      mat-raised-button
      (click)="showSuccessHandler()">
      Show success
    </button>
    <button
      type="button"
      mat-raised-button
      color="secondary"
      (click)="showWarningHandler()">
      Show warning
    </button>
  </div>
  <div>
    <button
      type="button"
      color="danger"
      mat-raised-button
      (click)="showToastErrorHandler()">
      Show toast error
    </button>
    <button
      type="button"
      color="primary"
      mat-raised-button
      (click)="showToastSuccessHandler()">
      Show toast success
    </button>
  </div>
</section>

<section>
  <h2>Ui Table</h2>
  <ngx-table-adapter [table]="fakeTable"></ngx-table-adapter>
</section>
